//The file index.jade will provide the content for our default route handler. 
//The #{title} will display the JavaScript title value we provide to the script.

extends layout

block content
  h1= title
  p Welcome to #{title}